app_webreferences/SMS/subaccount.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://smslive247.com/bulksms/service" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://smslive247.com/bulksms/service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://smslive247.com/bulksms/service">
      <s:element name="CreateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubAccountID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="User" type="tns:SubUserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SubUserInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DateCreated" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SubAccountID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CurrentBalance" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserDetails" type="tns:UserInfo_base" />
          <s:element minOccurs="1" maxOccurs="1" name="UserSettings" type="tns:UserInfo_settings" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserInfo_base">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CountryCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneMobile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneHome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserInfo_settings">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SenderID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorEmail" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UseSignature" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TimeZoneIdx" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateUserResult" type="tns:ResponseInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExtraMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalSuccess" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalFailure" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalCharged" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CurrentBalance" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ModifyUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OwnerID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="User" type="tns:SubUserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModifyUserResult" type="tns:ResponseInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubAccountID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteUserResult" type="tns:ResponseInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUserInfoResult" type="tns:SubUserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubAccountID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllUsersResult" type="tns:ArrayOfSubUserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSubUserInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SubUserInfo" type="tns:SubUserInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUsersEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubAccountID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SearchStr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MaxCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersExResult" type="tns:ArrayOfSubUserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubAccountID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserLoginResult" type="tns:ResponseInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdminLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMSLiveEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SubAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdminLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AdminLoginResult" type="tns:ResponseInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubAccountInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubAccountID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubAccountInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSubAccountInfoResult" type="tns:SubAccountInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SubAccountInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SubAccountID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateCreated" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="OwnerEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubAccount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Prefix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Suffix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SentUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SentEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Balance" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Remarks" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalUsers" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Expiry" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Tag1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tag2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tag3" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ModifySubAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubAccountID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NewInfo" type="tns:SubAccountInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifySubAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModifySubAccountResult" type="tns:ResponseInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FlashUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OwnerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Recipient" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SMS_Count" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Reason" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FlashUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FlashUserResult" type="tns:ResponseInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePwd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OwnerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OldPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePwdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangePwdResult" type="tns:ResponseInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Recharge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OwnerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="str16DigitCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RechargeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RechargeResult" type="tns:ResponseInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryCoverage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OwnerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MSISDN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryCoverageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QueryCoverageResult" type="tns:ResponseInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OwnerID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NewSMS" type="tns:MessageInfo" />
            <s:element minOccurs="1" maxOccurs="1" name="TimeDiffInSec" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MessageInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageType" type="tns:SMSTypeEnum" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageFolder" type="tns:MessageFolder" />
          <s:element minOccurs="0" maxOccurs="1" name="CallBack" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Destination" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryEmail" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="SMSTypeEnum">
        <s:restriction base="s:string">
          <s:enumeration value="TEXT" />
          <s:enumeration value="FLASH" />
          <s:enumeration value="OLOGO" />
          <s:enumeration value="RTONE" />
          <s:enumeration value="VCARD" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="MessageFolder">
        <s:restriction base="s:string">
          <s:enumeration value="SENT_FOLDER" />
          <s:enumeration value="SAVED_FOLDER" />
          <s:enumeration value="BULK_SENT_FOLDER" />
          <s:enumeration value="BULK_SAVED_FOLDER" />
          <s:enumeration value="WEBSMS_SENT_FOLDER" />
          <s:enumeration value="BULK_ISSENDING_FOLDER" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendMessageResult" type="tns:ResponseInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AbortMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OwnerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AbortMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AbortMessageResult" type="tns:ResponseInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OwnerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMessageResult" type="tns:SentMessageInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SentMessageInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SendEndDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SendStartDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalSms" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalSent" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalFailed" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ShortMessage" type="tns:MessageInfo" />
          <s:element minOccurs="1" maxOccurs="1" name="SendStatus" type="tns:SendStatusEnum" />
          <s:element minOccurs="0" maxOccurs="1" name="SendStatusStr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OwnerEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ws_tx_id" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="SendStatusEnum">
        <s:restriction base="s:string">
          <s:enumeration value="SENT" />
          <s:enumeration value="SENDING" />
          <s:enumeration value="PAUSED" />
          <s:enumeration value="STOPPED" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetMessages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OwnerID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="from_date" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="to_date" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="MaxCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMessagesResult" type="tns:ArrayOfSentMessageInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSentMessageInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SentMessageInfo" type="tns:SentMessageInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OwnerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteMessageResult" type="tns:ResponseInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OwnerID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Contact" type="tns:ContactInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ContactInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Alias" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Groups" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateContactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateContactResult" type="tns:ResponseInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OwnerID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Contact" type="tns:ContactInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyContactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModifyContactResult" type="tns:ResponseInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OwnerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MobileNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteContactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteContactResult" type="tns:ResponseInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContacts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OwnerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SearchStr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MaxCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContactsResult" type="tns:ArrayOfContactInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfContactInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ContactInfo" type="tns:ContactInfo" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateUserSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyUserSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyUser" />
  </wsdl:message>
  <wsdl:message name="ModifyUserSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyUserResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersExSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsersEx" />
  </wsdl:message>
  <wsdl:message name="GetUsersExSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersExResponse" />
  </wsdl:message>
  <wsdl:message name="UserLoginSoapIn">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="UserLoginSoapOut">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="AdminLoginSoapIn">
    <wsdl:part name="parameters" element="tns:AdminLogin" />
  </wsdl:message>
  <wsdl:message name="AdminLoginSoapOut">
    <wsdl:part name="parameters" element="tns:AdminLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetSubAccountInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetSubAccountInfo" />
  </wsdl:message>
  <wsdl:message name="GetSubAccountInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetSubAccountInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ModifySubAccountSoapIn">
    <wsdl:part name="parameters" element="tns:ModifySubAccount" />
  </wsdl:message>
  <wsdl:message name="ModifySubAccountSoapOut">
    <wsdl:part name="parameters" element="tns:ModifySubAccountResponse" />
  </wsdl:message>
  <wsdl:message name="FlashUserSoapIn">
    <wsdl:part name="parameters" element="tns:FlashUser" />
  </wsdl:message>
  <wsdl:message name="FlashUserSoapOut">
    <wsdl:part name="parameters" element="tns:FlashUserResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePwdSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePwd" />
  </wsdl:message>
  <wsdl:message name="ChangePwdSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePwdResponse" />
  </wsdl:message>
  <wsdl:message name="RechargeSoapIn">
    <wsdl:part name="parameters" element="tns:Recharge" />
  </wsdl:message>
  <wsdl:message name="RechargeSoapOut">
    <wsdl:part name="parameters" element="tns:RechargeResponse" />
  </wsdl:message>
  <wsdl:message name="QueryCoverageSoapIn">
    <wsdl:part name="parameters" element="tns:QueryCoverage" />
  </wsdl:message>
  <wsdl:message name="QueryCoverageSoapOut">
    <wsdl:part name="parameters" element="tns:QueryCoverageResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="SendMessageSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="AbortMessageSoapIn">
    <wsdl:part name="parameters" element="tns:AbortMessage" />
  </wsdl:message>
  <wsdl:message name="AbortMessageSoapOut">
    <wsdl:part name="parameters" element="tns:AbortMessageResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessageSoapIn">
    <wsdl:part name="parameters" element="tns:GetMessage" />
  </wsdl:message>
  <wsdl:message name="GetMessageSoapOut">
    <wsdl:part name="parameters" element="tns:GetMessageResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:GetMessages" />
  </wsdl:message>
  <wsdl:message name="GetMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:GetMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteMessageSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteMessage" />
  </wsdl:message>
  <wsdl:message name="DeleteMessageSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteMessageResponse" />
  </wsdl:message>
  <wsdl:message name="CreateContactSoapIn">
    <wsdl:part name="parameters" element="tns:CreateContact" />
  </wsdl:message>
  <wsdl:message name="CreateContactSoapOut">
    <wsdl:part name="parameters" element="tns:CreateContactResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyContactSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyContact" />
  </wsdl:message>
  <wsdl:message name="ModifyContactSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyContactResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteContactSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteContact" />
  </wsdl:message>
  <wsdl:message name="DeleteContactSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteContactResponse" />
  </wsdl:message>
  <wsdl:message name="GetContactsSoapIn">
    <wsdl:part name="parameters" element="tns:GetContacts" />
  </wsdl:message>
  <wsdl:message name="GetContactsSoapOut">
    <wsdl:part name="parameters" element="tns:GetContactsResponse" />
  </wsdl:message>
  <wsdl:portType name="SubAccountProxySoap">
    <wsdl:operation name="CreateUser">
      <wsdl:input message="tns:CreateUserSoapIn" />
      <wsdl:output message="tns:CreateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyUser">
      <wsdl:input message="tns:ModifyUserSoapIn" />
      <wsdl:output message="tns:ModifyUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input message="tns:DeleteUserSoapIn" />
      <wsdl:output message="tns:DeleteUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input message="tns:GetUserInfoSoapIn" />
      <wsdl:output message="tns:GetUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input message="tns:GetAllUsersSoapIn" />
      <wsdl:output message="tns:GetAllUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersEx">
      <wsdl:input message="tns:GetUsersExSoapIn" />
      <wsdl:output message="tns:GetUsersExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <wsdl:input message="tns:UserLoginSoapIn" />
      <wsdl:output message="tns:UserLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AdminLogin">
      <wsdl:input message="tns:AdminLoginSoapIn" />
      <wsdl:output message="tns:AdminLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSubAccountInfo">
      <wsdl:input message="tns:GetSubAccountInfoSoapIn" />
      <wsdl:output message="tns:GetSubAccountInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifySubAccount">
      <wsdl:input message="tns:ModifySubAccountSoapIn" />
      <wsdl:output message="tns:ModifySubAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FlashUser">
      <wsdl:input message="tns:FlashUserSoapIn" />
      <wsdl:output message="tns:FlashUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePwd">
      <wsdl:input message="tns:ChangePwdSoapIn" />
      <wsdl:output message="tns:ChangePwdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Recharge">
      <wsdl:input message="tns:RechargeSoapIn" />
      <wsdl:output message="tns:RechargeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryCoverage">
      <wsdl:input message="tns:QueryCoverageSoapIn" />
      <wsdl:output message="tns:QueryCoverageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input message="tns:SendMessageSoapIn" />
      <wsdl:output message="tns:SendMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AbortMessage">
      <wsdl:input message="tns:AbortMessageSoapIn" />
      <wsdl:output message="tns:AbortMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <wsdl:input message="tns:GetMessageSoapIn" />
      <wsdl:output message="tns:GetMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <wsdl:input message="tns:GetMessagesSoapIn" />
      <wsdl:output message="tns:GetMessagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMessage">
      <wsdl:input message="tns:DeleteMessageSoapIn" />
      <wsdl:output message="tns:DeleteMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateContact">
      <wsdl:input message="tns:CreateContactSoapIn" />
      <wsdl:output message="tns:CreateContactSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyContact">
      <wsdl:input message="tns:ModifyContactSoapIn" />
      <wsdl:output message="tns:ModifyContactSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteContact">
      <wsdl:input message="tns:DeleteContactSoapIn" />
      <wsdl:output message="tns:DeleteContactSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContacts">
      <wsdl:input message="tns:GetContactsSoapIn" />
      <wsdl:output message="tns:GetContactsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubAccountProxySoap" type="tns:SubAccountProxySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://smslive247.com/bulksms/service/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyUser">
      <soap:operation soapAction="http://smslive247.com/bulksms/service/ModifyUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://smslive247.com/bulksms/service/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://smslive247.com/bulksms/service/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://smslive247.com/bulksms/service/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersEx">
      <soap:operation soapAction="http://smslive247.com/bulksms/service/GetUsersEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://smslive247.com/bulksms/service/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminLogin">
      <soap:operation soapAction="http://smslive247.com/bulksms/service/AdminLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubAccountInfo">
      <soap:operation soapAction="http://smslive247.com/bulksms/service/GetSubAccountInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifySubAccount">
      <soap:operation soapAction="http://smslive247.com/bulksms/service/ModifySubAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FlashUser">
      <soap:operation soapAction="http://smslive247.com/bulksms/service/FlashUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePwd">
      <soap:operation soapAction="http://smslive247.com/bulksms/service/ChangePwd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Recharge">
      <soap:operation soapAction="http://smslive247.com/bulksms/service/Recharge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryCoverage">
      <soap:operation soapAction="http://smslive247.com/bulksms/service/QueryCoverage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://smslive247.com/bulksms/service/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbortMessage">
      <soap:operation soapAction="http://smslive247.com/bulksms/service/AbortMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <soap:operation soapAction="http://smslive247.com/bulksms/service/GetMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <soap:operation soapAction="http://smslive247.com/bulksms/service/GetMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMessage">
      <soap:operation soapAction="http://smslive247.com/bulksms/service/DeleteMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateContact">
      <soap:operation soapAction="http://smslive247.com/bulksms/service/CreateContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyContact">
      <soap:operation soapAction="http://smslive247.com/bulksms/service/ModifyContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContact">
      <soap:operation soapAction="http://smslive247.com/bulksms/service/DeleteContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContacts">
      <soap:operation soapAction="http://smslive247.com/bulksms/service/GetContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SubAccountProxySoap12" type="tns:SubAccountProxySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap12:operation soapAction="http://smslive247.com/bulksms/service/CreateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyUser">
      <soap12:operation soapAction="http://smslive247.com/bulksms/service/ModifyUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap12:operation soapAction="http://smslive247.com/bulksms/service/DeleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap12:operation soapAction="http://smslive247.com/bulksms/service/GetUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap12:operation soapAction="http://smslive247.com/bulksms/service/GetAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersEx">
      <soap12:operation soapAction="http://smslive247.com/bulksms/service/GetUsersEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap12:operation soapAction="http://smslive247.com/bulksms/service/UserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminLogin">
      <soap12:operation soapAction="http://smslive247.com/bulksms/service/AdminLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubAccountInfo">
      <soap12:operation soapAction="http://smslive247.com/bulksms/service/GetSubAccountInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifySubAccount">
      <soap12:operation soapAction="http://smslive247.com/bulksms/service/ModifySubAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FlashUser">
      <soap12:operation soapAction="http://smslive247.com/bulksms/service/FlashUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePwd">
      <soap12:operation soapAction="http://smslive247.com/bulksms/service/ChangePwd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Recharge">
      <soap12:operation soapAction="http://smslive247.com/bulksms/service/Recharge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryCoverage">
      <soap12:operation soapAction="http://smslive247.com/bulksms/service/QueryCoverage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://smslive247.com/bulksms/service/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbortMessage">
      <soap12:operation soapAction="http://smslive247.com/bulksms/service/AbortMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <soap12:operation soapAction="http://smslive247.com/bulksms/service/GetMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <soap12:operation soapAction="http://smslive247.com/bulksms/service/GetMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMessage">
      <soap12:operation soapAction="http://smslive247.com/bulksms/service/DeleteMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateContact">
      <soap12:operation soapAction="http://smslive247.com/bulksms/service/CreateContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyContact">
      <soap12:operation soapAction="http://smslive247.com/bulksms/service/ModifyContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContact">
      <soap12:operation soapAction="http://smslive247.com/bulksms/service/DeleteContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContacts">
      <soap12:operation soapAction="http://smslive247.com/bulksms/service/GetContacts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubAccountProxy">
    <wsdl:port name="SubAccountProxySoap" binding="tns:SubAccountProxySoap">
      <soap:address location="http://www.smslive247.com/api/webservice/subaccount.asmx" />
    </wsdl:port>
    <wsdl:port name="SubAccountProxySoap12" binding="tns:SubAccountProxySoap12">
      <soap12:address location="http://www.smslive247.com/api/webservice/subaccount.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>